name: CI

on:
  push:
    branches:
      - main
  workflow_dispatch:
env:
  IMAGE_NAME: examplenode-dev
  
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Login to DockerHub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
        
    - name: Build Docker Image
      uses: docker/build-push-action@v2
      with:
        context: .
        push: false
        tags: 254879/${{ env.IMAGE_NAME }}:latest

    - name: Scan Docker Image for Vulnerabilities
      uses: aquasecurity/trivy-action@v0.11.0
      with:
        image-ref: 254879/${{ env.IMAGE_NAME }}:latest

    - name: Push Docker Image to DockerHub
      uses: docker/build-push-action@v2
      with:
        context: .
        push: true
        tags: 254879/${{ env.IMAGE_NAME }}:${{ github.run_number }}

    - name: Repository Dispatch
      uses: peter-evans/repository-dispatch@v1
      with:
        token: ${{ secrets.PAT }}
        repository: ${{ github.actor }}/k8s-configs
        event-type: new-image
        client-payload: '{"image": "254879/${{ env.IMAGE_NAME }}:${{ github.run_number }}"}'
